{% extends "base.html" %}
{% block content %}


<h2>{{ page_title }}</h2>
<p class="bottom-buffer">
    The Mini is a two-door compact city car that was produced by the British Motor Corporation (BMC) and its successors
    from 1959 until 2000. The original Mini is considered an icon of 1960s British popular culture.Its
    space-saving transverse engine and front-wheel drive layout – allowing 80% of the area of the car's floorpan to be
    used for passengers and luggage – influenced a generation of car makers. In 1999, the Mini was voted the
    second-most influential car of the 20th century, behind the Ford Model T, and ahead of the Citroën DS and Volkswagen
    Beetle. The front-wheel-drive, transverse-engine layout of the Mini was copied for other "supermini" designs
    including the Honda N360 (1967), Nissan Cherry (1970), and Fiat 127 (1971). The layout was also adapted for larger
    subcompact designs.
</p>


{% for member in company %}

<div class="row featurette">

    {% if loop.index % 2 != 0 %}

        <div class="col-md-7">
            <h3> <a href="/about/{{member.url}}"> {{loop.index}}. {{ member.name }}</a></h3>
            <p>{{ member.description}}</p>
        </div>
        <div class="col-md-5">
            <img src="{{ member.image_source}}" class="featurette-image image-responsive">
        </div>

    {% else %}

    <div class="col-md-5">
        <img src="{{ member.image_source}}" class="featurette-image image-responsive">
    </div>

    <div class="col-md-7">
        <h3> <a href="/about/{{member.url}}"> {{loop.index}}. {{ member.name }}</a></h3>
        <p>{{ member.description}}</p>
    </div>


    {% endif %}

</div>

    {% if loop.index != loop.lenght %}

        <hr class="featurette-divider">

    {% endif %}

{% endfor %}

{% endblock %}
